<h1>Perfil profissional</h1>


<%= form_for @user_profile do |f| %>
  <div>
    <%= f.label :name, 'Nome' %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :social_name, 'Nome social' %>
    <%= f.text_field :social_name %>
  </div>
  <div>
    <%= f.label :birth_date, 'Nascimento' %>
    <%= f.date_field :birth_date %>
  </div>
  <div>
    <%= f.label :major, 'Formação' %>
    <%= f.text_field :major %>
  </div>
  <div>
    <%= f.label :bio, 'Descrição' %>
    <%= f.text_field :bio %>
  </div>
  <div>
    <%= f.label :experience, 'Experiência' %>
    <%= f.text_field :experience %>
  </div>
  <div>
    <%= f.label :picture, 'Foto [link]' %>
    <%= f.text_field :picture %>
  </div>
  <%= f.submit 'Editar' %>

<%end%>
