<% u = @user_profile %>
<h1><%=u.social_name%></h1>



<div id=rightbox>
  <%if u.id != current_user.id %>
    <% current_user.favourite.each do |f| %>
      <% if f.favourite_user == u.user.id then %>
        <% @fav = true %>
        <%= link_to 'Remover favorito', favourite_path(f.id), method: :delete %>
        <%break%>
      <%else%>
        <% @fav = false %>
      <%end%>
    <%end%>
    <% if @fav == false then%>
      <%= link_to 'Marcar como favorito', favourites_path(u.user.id), method: :new %>
    <%end%>
  <%end%>
</div>


<div id=leftbox>
  Nome: <%= u.social_name %>
  <% if @fav == false then%>
    <img src= 'https://upload.wikimedia.org/wikipedia/commons/f/fd/A_star.png' height=15p width=15p>
  <%else%>
    <img src='https://e7.pngegg.com/pngimages/799/255/png-clipart-star-star.png' height=15p width=15p>
  <%end%>

  <br>
  Nome conforme documentos: <%= u.name %><br>
  <%if u.user.role == 'hireable' then%>
    Descrição: <%= u.bio%><br>
    Formação: <%= u.major%><br>
    Expriência: <%= u.experience%><br>
  <%end%>
  Nascimento: <%= u.birth_date%><br>
  Contato: <%= u.user.email %><br>
  Nota: <\em construção>
</div>


<div id=rightbox>
  <img src="<%= u.picture%>"><br>
  <%if u.id == current_user.id %>
    <p><%=link_to 'Modificar meu perfil', edit_user_profile_path(current_user.user_profile) %></p>
  <%end%>
</div>


<%if u.user.role == 'hireable' then%>
  Projetos anteriores: <br>
  <% u.user.proposal.each do |up| %>
    <% if up.project.status == 'encerrado' then %>
      <li><%= link_to up.project.title, project_path(up.id) %></li>
    <%end%>
  <%end%>
<%end%>
