<% u = @user_profile %>
<h1><%=u.social_name%></h1>

<div id=leftbox>
  Nome: <%= u.social_name %><br>
  Nome conforme documentos: <%= u.name %><br>
  Descrição: <%= u.bio%><br>
  Formação: <%= u.major%><br>
  Expriência: <%= u.experience%><br>
  Nascimento: <%= u.birth_date%><br>

  <% if current_user.id == @user_profile.id then %>
    <p><%=link_to 'Modificar meu perfil', edit_user_profile_path(current_user.user_profile) %></p>
  <%# elsif current_user.role == 'hirer' then %>
    <%#= f.label :favourite, 'Profissional favorito' %>
    <%#= f.check_box :favourite %>
    <!-- coisas de favorito ainda sem tabela, fazer depois que tiver perfil pra hirer também -->
  <%end%>
</div>
<div id=rightbox>
  <img src="<%= u.picture%>"><br>
</div>
