Essa página deve listar apenas projetos não-expirados
<br>
Deve ser visível pra ambos roles<br>


<%= form_with url: search_path, method: :get do %>
  <%= label_tag :q, 'Busca:' %>
  <%= text_field_tag :q %>
  <%= submit_tag 'Pesquisar' %>
<% end %>


<% @project.each do |p| %>
  <% if p.expiration_date > DateTime.now then %>
    <div>
      <h3><%= link_to p.title, project_path(p.id) %></h3>
      <p> <%= p.description %></p><br>
    </div>
  <%end%>
<%end%>
