<%if current_user.role == 'hirer' && current_user != @project.user then %>
  Você não possui autorização para visualizar este projeto
<%else%>
<style>
  #left{
    float:left;
    width: 50%;
  }
  #right{
    float:right;
    width: 45%;
  }
</style>

<div id=left>
  <h1><% p = @project %></h1>
  <h1><%= p.title %></h1>
    <p>Descrição: <%= p.description %></p>
    <p>Habilidades desejadas: <%= p.wanted_skills%></p>
    <p>Pagamento por hora: <%= p.max_pay%></p>
    <p>Data limite para início do projeto: <%= p.expiration_date %></p>
  <% if p.remote then %>
    <p>Trabalho remoto</p>
  <%else%>
    <p>Trabalho presencial</p>
  <%end%>
  <p>Responsável pelo projeto: <%= link_to p.user.user_profile.social_name, user_profile_path(p.user.id) %></p>
  <% if current_user.role == 'hirer' && current_user == @project.user && p.status != 'encerrado' then %>
    <p><%= link_to "Encerrar projeto", encerrado_project_path(p.id), method: :post %></p>
  <% end %>
  <% if current_user.role == 'hirer' && current_user == @project.user && p.status == 'ativo' then %>
    <p><%= link_to "Fechar inscrições para o projeto", fechado_project_path(p.id), method: :post %></p>
  <% end %>
  Status do projeto: <%=p.status%>
</div>

<% if current_user.role == 'hireable' then %>
  <div id=right> <!-- essa div inteira só deveria aparecer se o candidato ainda não se candidatou à esse projeto-->
    <h1>Candidate-se a esse projeto:</h1>
    <%= form_with model: [@project, @proposal] do |f| %>
      <div>
        <%= f.label :presentation, 'Apresentação' %>
        <%= f.text_field :presentation %>
      </div>
      <div>
        <%= f.label :charges, 'Custo' %>
        <%= f.number_field :charges  %>
      </div>
      <div>
        <%= f.label :week_hours, 'Horas semanais disponíveis' %>
        <%= f.number_field :week_hours %>
      </div>
      <div>
        <%= f.label :total_hours, 'Total de horas estimadas' %>
        <%= f.number_field :total_hours %>
      </div>
      <%= f.submit 'Enviar' %>
    <%end%>
    <div>
      Sua proposta:
      <% current_user.proposal.each do |pp| %>
        <% if pp.project == @project then %>
          <li>Proposta de: <%= link_to pp.user.user_profile.social_name, user_profile_path(pp.user.user_profile.id) %></li>
          <li>Apresentação: <%= pp.presentation %></li>
          <li>Cobrança [hora]: <%= pp.charges %></li>
          <li>Horas semanais disponíveis: <%= pp.week_hours %></li>
          <li>Horas totais estimadas para o projeto: <%= pp.total_hours %></li>
          <li>Status: Proposta de <%= pp.user.user_profile.social_name%> <%= pp.status %></li>
          <%if pp.status == 'rejected' then %>
            <li>Motivo da rejeição: <%= pp.justification %></li>
          <%elsif pp.status == 'cancelled' then %>
              <li>Motivo do cancelamento: <%= pp.justification %></li>
          <%end%>
          <% if pp.status != 'cancelled' && pp.status != 'rejected' then %>
            <% if pp.updated_at > 3.days.ago || pp.status != 'accepted' then %>
              <%= link_to 'Cancelar proposta', cancel_project_proposal_path(@project.id, pp.id), method: :post %>
            <%end%>
          <%end%>
        <%end%>
      <%end%>
    </div>
  </div>
<%end%>

<% if current_user.role == 'hireable' then %>
  <div id=left><!--essa div deve aparecer apenas depois que o projeto foi encerrado-->
    <h1>Feedbacks</h1>
    <p>Dar feedback ao projeto</p>
    <p>Ver feedback sobre meu trabalho</p>
  </div>
<%end%>

<% if current_user.role == 'hirer' && current_user == @project.user then %>
  <div id=right>
    <h1>Candidatos:</h1>
    <% @project.proposal.each do |pp| %>
      <% if !(pp.status == 'cancelled' && pp.justification.nil?) then%>
      <p>
        <li>Proposta de: <%= link_to pp.user.user_profile.social_name, user_profile_path(pp.user.user_profile.id) %></li>
        <li>Apresentação: <%= pp.presentation %></li>
        <li>Cobrança [hora]: <%= pp.charges %></li>
        <li>Horas semanais disponíveis: <%= pp.week_hours %></li>
        <li>Horas totais estimadas para o projeto: <%= pp.total_hours %></li>
        <li>Status: Proposta de <%= pp.user.user_profile.social_name%> <%= pp.status %></li>
        Proposal id: <%= pp.id %>
        <% if p.status == 'encerrado' then %>
          <h4>Postar feedback sobre o trabalho de <%= pp.user.user_profile.social_name%> </h4>
        <%end%>
        <% if pp.status == 'pending' then %>
          <%= link_to "Aprovar #{pp.user.user_profile.social_name}", accept_project_proposal_path(@project.id, pp.id), method: :post %>
          <%= link_to "Rejeitar #{pp.user.user_profile.social_name}", reject_project_proposal_path(@project.id, pp.id), method: :post %>
        <%elsif pp.status == 'rejected' then %>
          <li>Motivo da rejeição: <%= pp.justification %></li>
        <%elsif pp.status == 'cancelled' then %>
          <li>Motivo do cancelamento: <%= pp.justification %></li>
        <%end%>
      </p>
      <%end%>
    <%end%>
  </div>
<%end%>


<% if current_user.role == 'hirer' then %>
  <div id=left><!-- essa div inteira só deveria aparecer se o candidato foi aceito pelo contratador-->
    <h1>Feedbacks</h1>
    <p>Esses foram os feedbacks dados pelos profissionais sobre terem trabalhado nesse projeto:</p>
  </div>
<%end%>


<div id=right>
  <h1>Equipe deste projeto:</h1>
  <% @project.proposal.each do |pp| %>
    <% if pp.status == 'accepted' then %>
    <li><%= link_to pp.user.user_profile.social_name, user_profile_path(pp.user.user_profile.id) %></li>
    <%end%>
  <%end%>
</div>

<%end%>
