<h1><% p = @project %></h1>
<h1><%= p.title %></h1>
<p>Descrição: <%= p.description %></p>
<p>Habilidades desejadas: <%= p.wanted_skills%></p>
<p>Pagamento por hora: <%= p.max_pay%></p>
<p>Data limite para início do projeto: <%= p.expiration_date %></p>
<% if p.remote then %>
<p>Trabalho remoto</p>
<%else%>
<p>Trabalho presencial</p>
<%end%>
Responsável pelo projeto: <%= link_to p.user.user_profile.social_name, user_profile_path(p.user.id) %><br>

<% if current_user.role == 'hireable' then %>
  <h1>Candidate-se a esse projeto:</h1>
  <%= form_with model: [@project, @proposal] do |f| %>
    <div>
      <%= f.label :presentation, 'Apresentação' %>
      <%= f.text_field :presentation %>
    </div>
    <div>
      <%= f.label :charges, 'Custo' %>
      <%= f.number_field :charges  %>
    </div>
    <div>
      <%= f.label :week_hours, 'Horas semanais disponíveis' %>
      <%= f.number_field :week_hours %>
    </div>
    <div>
      <%= f.label :total_hours, 'Total de horas estimadas' %>
      <%= f.number_field :total_hours %>
    </div>
    <%= f.submit 'Enviar' %>
  <%end%>
<%end%>
<% if current_user.role == 'hirer' && current_user == @project.user then %>
  <% if p.status == 'ativo' then %>
    <%= link_to "Encerrar projeto", encerrado_project_path(p.id), method: :post %>
  <% end %>
  <h1>Candidatos:</h1>
  <% @project.proposal.each do |pp| %>
    <li>
      <li>Proposta de: <%= link_to pp.user.user_profile.social_name, user_profile_path(pp.user.id) %></li
      <li>Apresentação: <%= pp.presentation %></li>
      <li>Cobrança [hora]: <%= pp.charges %></li>
      <li>Horas semanais disponíveis: <%= pp.week_hours %></li>
      <li>Horas totais estimadas para o projeto: <%= pp.total_hours %></li>
      <li>Status: Proposta de <%= pp.user.user_profile.social_name%> <%= pp.status %></li>
      <% if pp.status == 'pending' then %>
        <%= link_to "Aprovar #{pp.user.user_profile.social_name}", accept_project_proposal_path(pp.id), method: :post %>
        <%= link_to "Rejeitar #{pp.user.user_profile.social_name}", reject_project_proposal_path(pp.id), method: :post %>
      <% end %>
      <% if pp.status == 'rejected' then %>
        <h6> Motivo para a rejeição da proposta de <%= pp.user.user_profile.social_name %>: </h6>
        <%= form_for @project_proposal do |f| %>
          <%= f.label :feedback, 'Motivo' %>
          <%= f.text_field :feedback %>
          <%= f.submit 'Enviar' %>
        <%end%>
      <%end%>
    </li>
  <%end%>
<%end%>
