<h1><% p = @project %></h1>
<h1><%= p.title %></h1>
<p>Descrição: <%= p.description %></p>
<p>Habilidades desejadas: <%= p.wanted_skills%></p>
<p>Pagamento por hora: <%= p.max_pay%></p>
<p>Data limite para início do projeto: <%= p.expiration_date %></p>
<% if p.remote then %>
<p>Trabalho remoto</p>
<%else%>
<p>Trabalho presencial</p>
<%end%>

<% if current_user.role == 'hireable' then %>
  <h1>Candidate-se a esse projeto:</h1>
  <%= form_with model: [@project, @proposal] do |f| %>
    <div>
      <%= f.label :presentation, 'Apresentação' %>
      <%= f.text_field :presentation %>
    </div>
    <div>
      <%= f.label :charges, 'Custo' %>
      <%= f.number_field :charges  %>
    </div>
    <div>
      <%= f.label :week_hours, 'Horas semanais disponíveis' %>
      <%= f.number_field :week_hours %>
    </div>
    <div>
      <%= f.label :total_hours, 'Total de horas estimadas' %>
      <%= f.number_field :total_hours %>
    </div>
    <%= f.submit 'Enviar' %>
  <%end%>
<%end%>

<% if current_user.role == 'hirer' && current_user == @project.user then %>
  <h1>Candidatos:</h1>
  <% @project.proposal.each do |pp| %>
    <li>
      <li>Proposta de: <%= pp.user.user_profile.social_name %></li
      <li>Apresentação: <%= pp.presentation %></li>
      <li>Cobrança [hora]: <%= pp.charges %></li>
      <li>Horas semanais disponíveis: <%= pp.week_hours %></li>
      <li>Horas totais estimadas para o projeto: <%= pp.total_hours %></li>
      <li>Status: <%= pp.status %></li>
      <% if pp.status == 'pending' then %>
        <%= link_to "Aprovar #{pp.user.user_profile.social_name}", accept_project_proposal_path(pp.id), method: :post %>
        <%= link_to "Rejeitar #{pp.user.user_profile.social_name}", reject_project_proposal_path(pp.id), method: :post %>
      <% end %>
    </li>
  <%end%>
<%end%>
