<h1>Candidatar-se ao projeto</h1>

<% if @proposal.errors.any? then %>
  <% @proposal.errors.full_messages.each do |error| %>
    <%= error %></br>
  <% end %>
<% end %>

<%= form_with model: Proposal.new do |f| %>
  <div>
    <%= f.label :presentation, 'Apresentação' %>
    <%= f.text_field :presentation %>
  </div>
  <div>
    <%= f.label :charges, 'Custo' %>
    <%= f.number_field :charges  %>
  </div>
  <div>
    <%= f.label :week_hours, 'Horas semanais disponíveis' %>
    <%= f.number_field :week_hours %>
  </div>
  <div>
    <%= f.label :total_hours, 'Total de horas estimadas' %>
    <%= f.number_field :total_hours %>
  </div>
  <div>
    <%= f.label :project_id, 'Projeto' %>
    <%= f.collection_select :project_id, Project.all, :id, :title %> << gambiarra temporária pra eu já poder ir fazendo outras funções enquanto não descubro como passar a id do show pro new
    </div>
  <%= f.submit 'Enviar' %>
<%end%>
