<!DOCTYPE html>

<style>
nav {
  background-color:#a34595;
  text-align:center
}

h1 {
  background-color:purple;
  text-align:center
}

body{
  background-color:#1d1d21;
  color: white
}
div {
  margin: 10px;
}

#leftbox{
  float:left;
  width: 30%;
}
#rightbox{
  float:right;
  width: 65%;
}
</style>

<html>
  <head>
    <title>Freejousters</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <% if user_signed_in? %>
        <%= link_to 'Home', root_path %> |
        <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
      <% else %>
        <p><%= link_to 'Entrar', new_user_session_path %></p>
      <% end %>
    </nav>
    <p><%= flash[:notice] %></p>
    <p><%= flash[:alert] %></p>
    <%= yield %>
  </body>
</html>
